---
 const personalImageAlt = "Omar Salazar"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-green-500 dark:[&>p>strong]:text-green-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Omar Salazar. Empecé en la programación a los 18 años. 
      Actualmente estoy <strong
        >liderando equipos de desarrollo en multinacionales</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >colaborar con Microsoft para el desarrollo de las primeras apps en su
        sistema Windows Phone</strong
      >. Aunque hoy está desaparecido fue un gran avance en el mundo del
      desarrollo web.
    </p>

    <p>
      Como Diseñador Gráfico, <strong
        >cuento con un buen dominio de herraminetas de diseño gráfico, <em class="italic">Suite Adobe, Figma, Justinmind</em></strong
      >. Mi objetivo es mejorar e impulsar a las empresas a que tengan presencia en internet y logren el éxito.
    </p>
  </div>

  <img width="200" height="200" src="/omarcito.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-green-500/5 ring-1 ring-white/20 " style="object-position: 50% 50%">

</article>